<div class="container">
  <div class="mt-3 txt-center">
    <h1 class="h1">ログイン</h1>
  </div>
  <%= render "shared/error_messages", object: @user %>
  <%= form_with url: sign_in_path, method: :post, data: { turbo: false } do |form| %>
    <div class="form-wrapper mt-3">
      <div class="form-group">
        <div class="input-group">
          <%= form.label :email, "メールアドレス", class: "form-label" %>
          <%= form.email_field :email, class: "form-control", placeholder: "example@email.com", value: @user.email %>
        </div>
        <div class="input-group">
          <%= form.label :password, "パスワード", class: "form-label" %>
          <%= form.password_field :password, class: "form-control", placeholder: "パスワード入力" %>
        </div>
        <div class="txt-center">
          <%= form.submit "ログイン", class: "button is-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
